.web-body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
}

.outer-box {
    display: flex;
    background-color: hsl(225, 100%, 100%);
    width: 75%;
    height: 50%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 70px 100px -90px;
}

.box-1 {
    width: 50%;
    overflow: hidden;
}

.img-pattern {
    position: relative;
    height: 1000px;
    width: 1000px;
    right: 578px;
    bottom: 300px;
    background: url(./images/bg-pattern-desktop.svg) no-repeat;
}

.img-woman {
    position: relative;
    height: 400px;
    width: 500px;
    bottom: 940px;
    right: 83px;
    background: url(./images/illustration-woman-online-desktop.svg) no-repeat;
}

.img-box {
    position: absolute;
    height: 40%;
    width: 30%;
    top: 190px;
    left: -92px;
    background: url(./images/illustration-box-desktop.svg) no-repeat;
}

.box-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px 30px 30px 30px;
}

.details {
    cursor: pointer;
    width: 80%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.chevron-image {
    transform: rotate(180deg)
}

.question-box {
    display: flex;
    justify-content: space-between;
}

.question {
    font-weight: 400;
    margin: 12px 0px;
    color: hsl(237, 12%, 33%);
}

.question:hover {
    color: hsl(14, 88%, 65%);
}

.content {
    position: relative;
    font-size: 12px;
    color: hsl(240, 6%, 50%);
    overflow: hidden;
    height: 0;
    overflow-y: auto;
}

.content-p {
    margin-top: 0;
}

.chevron {
    position: relative;
    height: 7px;
    width: 10px;
    top: 20px;
}

.details.active .content {
    height: auto;
}

.details.active .question {
    font-weight: 700;
}

.details.active .chevron {
    transform: rotate(180deg);
}

@media (max-width:375px) {
    .outer-box {
        margin-top: 70px;
        flex-direction: column;
        height: 70%;
        width: 90%;
    }
    .box-1 {
        height: 15%;
        width: 94%;
        overflow: unset;
    }
    .box-2 {
        height: 70%;
        width: 90%;
        padding: 0 15px;
    }
    .img-pattern {
        position: relative;
        width: 242px;
        height: 104px;
        right: 0px;
        bottom: 0px;
        left: 42px;
        background: url(./images/bg-pattern-mobile.svg) no-repeat;
    }
    .img-woman {
        position: relative;
        width: 242px;
        height: 182px;
        bottom: 212px;
        right: 0px;
        left: 44px;
        background: url(./images/illustration-woman-online-mobile.svg) no-repeat;
    }
    .img-box {
        background: none
    }
    .details {
        width: 100%;
    }
    .question {
        font-size: 0.9rem;
    }
    .faq-h1 {
        text-align: center;
        margin-top: 50px;
    }
}

